.config/rstudio
.config/cinnamon
.config/dconf
.config/evolution/sources
.config/nemo
.config/Code
.config/JetBrains
.config/caja
.config/gtk-3.0
.config/menus
.config/pulse
.config/qt5ct
.config/X-Cinnamon-xdg-terminals.list
.config/mimeapps.list
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xdg-terminals.list
.git.bak
.config/htop
.config/nvim/lazy-lock.json
.config/spotify
.config/gh
.config/lazygit
.config/enchant
.config/libreoffice/4
.config/systemd/user
.config/tmux/plugins
.config/xed
.config/xm1
.config/cinnamon-monitors.xml~
.config/go/telemetry/local
.config/Thunar
.config/dlv
.config/touchegg
.config/xfce4
.config/cinnamon-monitors.xml
.config/pavucontrol.ini
.config/zathura
.config/Proton/VPN/app-config.json
.config/autostart
.config/curd
.config/neofetch
.config/nvim/lua/plugins/.swo
.config/nvim/lua/plugins/.swp
.config/nvim/lua/plugins/cmp.lua.bak
.config/nvim/lua/plugins/CMP.lua.bak
.config/nvim/1
.config/xviewer
.config/flameshot/flameshot.ini
.config/gtk-2.0/gtkfilechooser.ini
.config/QtProject.conf
