.config/rstudio
.config/cinnamon
.config/dconf
.config/evolution/sources
.config/nemo
.config/Code
.config/JetBrains
.config/caja
.config/gtk-3.0
.config/menus
.config/pulse
.config/qt5ct
.config/X-Cinnamon-xdg-terminals.list
.config/mimeapps.list
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xdg-terminals.list
.git.bak
.config/htop
.config/nvim/lazy-lock.json
.config/spotify
.config/gh
.config/lazygit
.config/enchant
.config/libreoffice/4
.config/systemd/user
.config/tmux/plugins
.config/xed
.config/xm1
.config/cinnamon-monitors.xml~
